/HospitalService/nbproject/private/
/HospitalService/build/
/SecretariaDeSalud/build/
/SecretariaDeSalud/dist/
/SecretariaDeSalud/nbproject/private/
/HospitalGeneralRestful/nbproject/private/
/HospitalGeneralRestful/build/
/HospitalGeneralRestFul/nbproject/private/
/HospitalGeneralRestFul/build/
/RESTFulHospital/nbproject/private/
/RESTFulHospital/build/